@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
.navbar {
  background: rgb(22, 20, 25);
  background: linear-gradient(180deg, rgba(22, 20, 25, 0.429) 51%, rgba(22, 20, 25, 0) 74%);
  overflow-y: hidden;
  border-bottom: 1px solid #b01f1f;
}

.nav-all {
  height: 12vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  overflow-y: hidden;
}

.nav-itens {
  font-family: "Inter", sans-serif;
  width: 76vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  overflow-y: hidden;
}
.nav-itens .nav-link {
  color: white;
  width: auto;
  font-weight: 500;
  padding: 12px 30px;
  text-align: center;
  background-color: transparent;
  color: white;
  transition: 1.8s;
  position: relative;
}
.nav-itens .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: width 0.3s ease;
  transition: 1.2s;
}
.nav-itens .nav-link:hover::after {
  width: 100%;
  background-color: #D04242;
}

.intro {
  background: #161419;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.slider {
  background: rgb(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  overflow-y: hidden;
}

.intro-text {
  color: #161419;
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
  overflow-y: hidden;
}

.hide {
  color: #fafafa;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.scroll-down2 {
  width: 30px;
  height: 50px;
  box-shadow: 2px 1px 26px -6px #f60202;
  border: 2px solid #f60202;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.scroll-down2:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 20px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  transform: translateX(-50%);
  background: #b01f1f;
  animation: scrollDown2 1.5s ease infinite;
}
.scroll-down2:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 5px;
  width: 6px;
  height: 15px;
  border-radius: 3px;
  transform: translateX(-50%);
  background: #b01f1f;
}

@keyframes scrollDown2 {
  0% {
    transform: translate(-50%, 0px);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, 8px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 16px);
    opacity: 0;
  }
}
.button-scroll {
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
}

body {
  background-color: #151719;
}

.introduction-container {
  height: 100vh;
  width: 100%;
}
.introduction-container .H1-KAI {
  font-family: "Inika", serif;
  color: #D9E3EA;
  font-weight: bold;
  overflow-y: hidden;
  text-align: center;
}
.introduction-container .container-conteudo {
  width: 100vw;
  height: 65vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.introduction-container .container-conteudo .image-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.introduction-container .container-conteudo .text-container {
  width: 50%;
  text-align: left;
  font-family: "Inter", sans-serif;
}
.introduction-container .container-conteudo .text-container .h1-first {
  color: #f0ffff;
  font-size: 26px;
}
.introduction-container .container-conteudo .text-container .p-first {
  color: #9BA9B4;
  font-size: 20px;
}
.introduction-container .container-conteudo .text-container .h2-first {
  color: #D9E3EA;
  font-size: 24px;
}

.button-l {
  border: 1px solid #161419;
  min-width: 10vw !important;
  width: auto !important;
}

.service-button {
  font-family: "Inter", sans-serif;
  padding: 10px;
  border-radius: 10px;
  background-color: #33363A;
  color: white;
  transition: 0.8s;
}
.service-button:hover {
  background-color: #33363A;
  color: #fafafa;
  transition: 0.8s;
  transform: scale(0.9);
  border-radius: 10px;
}

.contact-button {
  font-family: "Inter", sans-serif;
  border: 1px solid #161419;
  padding: 10px;
  border-radius: 10px;
  background-color: #b01f1f;
  color: white;
  transition: 0.8s;
}
.contact-button:hover {
  background-color: #b01f1f;
  color: #fafafa;
  transition: 0.8s;
  transform: scale(0.9);
}

.img-kairos {
  width: 24vw;
  height: auto;
  margin-bottom: 6vh;
}

@media (max-width: 1237px) {
  .h1-first {
    font-size: 20px !important;
  }
  .p-first {
    font-size: 14px !important;
  }
  .h2-first {
    font-size: 20px !important;
  }
}

/*# sourceMappingURL=style.css.map */
