.about-container{
    height: auto;
    width: 100%;
    display: flex;
    background-color: #474B4E;
    flex-direction: row;

    .text-about{
        width: 50%;
        height: auto;
        margin-left: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: end;

        .h1-about{
            font-family: 'Inika', serif;
            border-bottom: 8px solid #E53D3E;
            width: 20vw;
            height: auto;
        }

        .p-about{
            font-family: 'Inria Sans', sans-serif;
            color: #E3E7EB;
            width: 30vw;
            font-size: 18px;
        }
    }

    .quality-about{
        width: 50%;
        height: 85vh;
        // margin-top: ;
        display: flex;
        justify-content: end;
        flex-direction: column;

        .image-about{
            width: 20vw;
            height: auto;
            margin-bottom: 4vh;
        }

        .span-about{
            font-family: 'Inika', serif;
            font-weight: normal;
            border-left: 4px solid #E53D3E;
            height: 10vh;
            padding-top: 3vh;
            padding-left: 2vh;
            margin-left: 3vh;
        }
    }
}


@media (max-width: 1427px){
    .about-container .text-about .h1-about{
        width: 35vw;
        overflow: hidden !important;
    }
}


@media (max-width: 884px){
    .about-container{
        flex-direction: column;
        align-items: center;
    }

    .about-container .text-about .h1-about{
        text-align: center;
        width: 41vw;
    }

    .about-container .text-about .p-about{
        width: 60vw;
        text-align: center;
    }

    .about-container .text-about{
        margin-left: 0vh !important;
        width: auto !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .about-container .quality-about{
        width: auto;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .about-container .quality-about .span-about{
        width: auto !important;
        border-left: 0 !important;
        margin-left: 0 !important;
        border-bottom: 4px solid #E53D3E;
    }
}

@media (max-width: 600px){
    .about-container .text-about .h1-about{
        padding-bottom: 2vh !important;
    }

    .about-container .quality-about .span-about{
        width: auto !important;
        
    }
}