.service-container{
    width: 100%;
    height: auto;
    background-color: #45484A;
    
    .H1-containers{
        font-family: 'Inika', serif;
        color: #FFF;
        font-weight: bold;
        overflow-y: hidden;
        text-align: center;
    }

    .p-containers{
        font-family: 'Inter', sans-serif;
        text-align: center;
        color: #fff;
        padding-bottom: 5rem !important;
    }
}


.service1-content{
    width: 95%;
    height: auto;
    display: flex;

    .service-texts{
        width: 62%;
        height: auto;
        display: flex;
        margin-left: 30vh;
        flex-direction: column;

        .subtitle-service{
            font-family: 'Architects Daughter', cursive;
            color: #E53D3E;
            margin-left: 0 !important;
            font-size: 18px;
        }

        .h1-service{
            font-family: 'Inter', sans-serif;
            font-weight: bold;
            font-size: 32px;
        }

        .p-service{
            width: 35vw;
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            color: #9BA9B4;
            font-weight: normal;
        }

        .quality-services{
            font-family: 'Inter', sans-serif;
            color: #D8D8D8;
        }
    }

    .service-image{
        width: 50%;
    }
}

.service-button1{
    font-family: 'Inter', sans-serif;
    padding: 10px;
    width: 16vw !important;
    border-radius: 10px;
    background-color: #33363A;
    color: #FFF;
    transition: 0.8s;
    &:hover{
      background-color: #33363A;
      color: #fafafa;
      transition: 0.8s;
      transform: scale(0.9);
      border-radius: 10px;
                
  }
}


.service-texts-right{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    .subtitle-service{
        font-family: 'Architects Daughter', cursive;
        color: #E53D3E;
        margin-left: 0 !important;
    }

    .h1-service{
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 32px;
    }

    .p-service{
        width: 35vw;
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        color: #9BA9B4;
        font-weight: normal;
    }

    .quality-services{
        font-family: 'Inter', sans-serif;
        color: #D8D8D8;
    }
}

.service-image-right{
    margin-left: 26vh;
    width: 62%;
}

// RESPONSIVIDADE
@media (max-width: 1085px){
    .service1-content .service-texts{
        width: 50% !important;
        margin-left: 15vh !important;
    }
    
    .service1-content .service-texts .p-service{
        width: 40vw !important;
    }
    

    .service-texts-right .p-service{
        width: 40vw !important;
    }


    .service-image-right {
        margin-left: 13vh !important;
        width: 60% !important;
    }

    .service-button1{
        width: 23vw !important;
    }
}



@media (max-width: 898px){
    .service1-content{
        width: auto !important;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .content-right{
        width: auto !important;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .service1-content .service-texts .h1-service{
        font-size: 26px;
    }
    
    .service1-content .service-image {
        width: auto;
        padding-bottom: 4vh;
    }

    .service1-content .service-texts{
        margin-left: 0 !important;
        width: auto !important;
        align-items: center;
    }

    .service-texts-right{
        margin-left: 0 !important;
        width: auto !important;
        align-items: center;
    }
    
    .service-image-right{
        margin-left: 0 !important;
        width: auto !important;
        padding-bottom: 4vh;
    }

    .service-container .p-containers{
        padding-bottom: 1rem !important;
    }

    .service1-content .service-texts .p-service{
        text-align: center !important;
        width: 80vw !important;
        font-size: 16px ;
    }

    .service-texts-right .p-service{
        text-align: center !important;
        width: 80vw !important;
        font-size: 16px ;
    }
    .service-button1{
        width: 40vw !important;
    }
}


@media (max-width: 650px){
    .image-service{
        height: 40vh;
        width: auto;
    }
}


